<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bookstore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Book List</h1>
	<table class="table table-striped">
		<tr>
		<th>Title</th>
		<th>Author</th>
		<th>ISBN</th>
		<th>Year</th>
		<th>Price</th>
		</tr>
		<tr th:each="Book : ${books}">
			<td th:text="${Book.title}"></td>
			<td th:text="${Book.author}"></td>
			<td th:text="${Book.isbn}"></td>
			<td th:text="${Book.year}"></td>
			<td th:text="${Book.price}"></td>
			<td><a th:href="@{/delete/{id}(id=${Book.id})}">Delete</a></td>
		</tr>
		</table>
	<a href="/addbook">Add Book</a>	
</body>
</html>
